 @import url("./styles/index.css");

  /*Cemre Ozgules -NO-27 -Create the Site credits section start */

  
 .same {
    margin: 0;
    padding: 0;
}


footer {
    position: relative; 
    background: white;
    padding: 15px;
    border-bottom: 1px solid grey;
    z-index: 1000;
}



.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left p {
    color: grey;
    font-size: 14px;
    margin: 0;
}

.footer-center {
    display: flex;
    gap: 20px;
}

.footer-center a {
    text-decoration: none;
    color: grey;
    font-size: 14px;
}

.footer-center a:hover {
    color: #007bff;
}

.footer-right p {
    color: grey;
    font-size: 14px;
    margin: 0;
}


body {
    padding-top: 70px;
    margin: 0;
}


@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        gap: 10px;
    }
}




/*Cemre Ozgules -NO-27 -Create the Site credits section end */

