 @import url("./styles/index.css");

  /*Cemre Ozgules -NO-27 -Create the Site credits section start */

  
  footer {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-top: solid white;
  margin-top: 50px;
  font-size: 14px;

}

 footer p {
  margin: 5px;
  color: grey;

 }
 
  
  footer div {
    margin: 5px;
    color: grey;
  }

  footer a {
   color: blue;
   text-decoration: none;
   padding: 5px;
  }


/*Cemre Ozgules -NO-27 -Create the Site credits section end */

