 @import url("./styles/index.css");

  /*Cemre Ozgules -NO-27 -Create the Site credits section start */

  
 .footer-link {
     margin: 0;
    padding: 0;
}


footer {
  
    background: white;
    padding: 15px;
    border-top: 1px solid grey;

}



.footer-container {
    max-width: 1440 px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left p {
    color: grey;
    font-size: 14px;
    margin: 0;
}

.footer-center {
    display: flex;
    gap: 20px;
}

.footer-center a {
    text-decoration: none;
    color: grey;
    font-size: 14px;
}

.footer-center a:hover {
    color: blue;
}

.footer-right p {
    font-family: var(--primary-font,'Lato',sans-serif); 
    color: grey;
    font-size: 14px;
    margin: 0;
}


body {
    padding-top: 70px;
    margin: 0;
}


@media (max-width: 600px) {
    .footer-container {
        border: 1 px solid red;
        columns: 2;
        gap: 10px;
    }
}




/*Cemre Ozgules -NO-27 -Create the Site credits section end */

