@import url("./styles/index.css");

/* elif-No-13-Design-the-Building-Bridges-section start  */

#building-bridges {
    display: flex;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
}

.building-bridges-left-image {
    position: relative;
    max-width: 702px;
    width: 100%;
}

.images-building-bridges-big-image {
    width: 100%;
    height: auto;
    display: block;
}

.images-building-bridges-point {
    position: absolute;

    width: clamp(90px, 28%, 229px); /* Min | Responsive | Max */

    right: clamp(8px, 4%, 24px);
    bottom: clamp(8px, 4%, 24px);
}

.building-bridges-right-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 511px;
    max-height: 700px;
    gap: clamp(16px, 4vw, 32px);
}

.building-bridges-right-header-text h1 {
    font-style: var(--primary-font);
    font-weight: var(--bold);
    font-size: clamp(30px, 4vw, 60px);
    line-height: clamp(32px, 4vw, 72px);
}

.header-grey-text {
    color: #9ca3af;
}

.building-bridges-right-header-text p {
    font-style: var(--primary-font);
    font-weight: var(--regular);
    font-size: clamp(14px, 4vw, 20px);
    line-height: clamp(20px, 4vw, 30px);
}

.building-bridges-button {
    display: flex;
    align-items: center;
    width: 205px;
    height: 64px;
    padding: 16px 16px 16px 24px;
    gap: 25px;
    opacity: 1;
    border-radius: 55px;
    background-color: var(--deep-sea-blue);
    color: var(--canvas-white);
}

.building-bridges-button-text {
    font-weight: var(--bold);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    width: 108px;
    height: 28px;
}

.images-building-bridges-vector {
    width: 32px;
    height: 32px;
    gap: 10px;
    opacity: 1;
    border-radius: 100px;
    padding: 4px;
}

@media (max-width: 1023px) {
    #building-bridges {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin: auto;
        gap: 20px;
        
    }

    .building-bridges-left-image {
        margin: auto;
    }

    .building-bridges-right-header-text {
        margin: auto;
        align-items: center;
        text-align: center;
    }
}

/* elif-No-13-Design-the-Building-Bridges-section end  */
