*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

body {
  color: var(--pure-black);
  background: var(--canvas-white);
  font-family: var(--primary-font);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
  background: none;
  font-family: var(--primary-font);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--soft-ivory) inset !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: var(--primary-font);
}
