:root {
  --primary-font: "Lato", sans-serif;

  /* COLORS */
  --pure-black: #000;
  --midnight-black: #12141d;
  --canvas-white: #ffffff;
  --soft-ivory: #f2f5f6;
  --misty-aqua: #d7e0e5;
  --slate-grey: #404040;
  --deep-sea-blue: #043a53;
  --golden-sun: #f0b73f;

  /* FONT SIZES */
  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 20px;
  --font-xxl: 24px;

  /* FONT WEIGHTS */
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --bolder: 800;
  --black: 900;

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
